<!doctype html>
<html>
  <head>
    <title>Show Tag</title>
  </head>
  <body>
    <h1><%= tag.name %></h1>
    <ul>
    <% posts.forEach(function (post) { %>
    <li><a href="/posts/<%=post.id%>"><%= post.title %></a>, by <%= post.Author.name %></li>
    <% }) %>
    </ul>
  </body>
</html>
