<!doctype html>
<html>
  <head>
    <title>Add new blog posts</title>
  </head>
  <body>
    <h1>Create new blog post</h1>
    <form method="POST" action="/posts">
      <input type="text" name="author[name]" placeholder="Author"><br>
      <input type="text" name="post[title]" placeholder="Blog title"><br>
      <textarea name="post[content]" placeholder="Post"></textarea><br>
      <input type="text" name="tags" placeholder="Tags,with,commas"><br>
      <input type="submit">
    </form>
  </body>
</html>
