<!doctype html>
<html>
  <head>
    <title>Show Author</title>
  </head>
  <body>
    <h1><%= author.name %>'s Posts</h1>
    <% posts.forEach(function (post) { %>
    <div>
      <h2><a href="/posts/<%=post.id%>"><%= post.title %></a></h2>
      <p><%= post.content %></p>
    </div>
    <% }) %>
  </body>
</html>
